
html body
{
    background-color: rgb(129, 212, 191);
    position: relative;
}
#main
{
    width: 700px;
    height: 400px;
    background-color: aqua;
    margin: 50px auto;
    margin-bottom: 0px;
    position: relative;
     overflow: hidden;
}
#des
{
    width: 600px;
    height: 35px;
    background-color: bisque;
    margin: 10px auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;

}


#start
{
    width: 150px;
    height: 30px;
    background-color: rgb(42, 89, 192);
    margin: 10px auto;
    text-align: center;
    padding-top: 13px;
}
#over
{
    width: 550px;
    height: 250px;
    background-color: rgba(12, 141, 70, 0.973);
    position: absolute;
    margin: 80px;
    display: none;

}

#score
{
    width: 100px;
    height: 50px;
    background-color: blanchedalmond;
   margin-top:50px;
   margin-left: 1100px;
   float: right
}
#life
{
    width: 100px;
    height: 50px;
    background-color: blanchedalmond;
    margin-top:50px;
    margin-left: 10px;
   position: absolute;
   float: right;
}
#fruit1
{
    display: none;
    position: absolute;
}

#over
{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    color: antiquewhite;
}
