
html body
{
    background-color: rgb(129, 212, 191);
    position: relative;
}
#main
{
    width: 700px;
    height: 400px;
    background-color: aqua;
    margin: 50px auto;
    margin-bottom: 0px;
    position: relative;
}
#des
{
    width: 600px;
    height: 35px;
    background-color: bisque;
    margin: 10px auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;

}
